<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <div th:replace="~{fragments/header :: header}"></div>
    <title></title>
</head>
<body>
<div id="login">
    <h2 class="text-center text-info pt-5">Welcome
        <a th:if="${application.user}" th:text="${application.user.getLogin()}? ${application.user.getLogin()}:''">        </a>
        <a th:if="${application.user}" href="logout" class="btn btn-info btn-md" role="button">Logout</a>
    </h2>
    <br/>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <form class="card p-3 bg-light" action="search" method="post">
                    <div class="input-group">
                        <input class="form-control text-info" type="search" placeholder="Search location"
                               name="locationName">
                        <div class="input-group-append">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="Search">
                        </div>
                    </div>
                    <a class="font-weight-light text-danger" th:text="${error}"></a>
                    <a class="font-weight-light text-success" th:text="${success}"></a>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>