<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/WeatherApp</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="hbm2ddl.import_files">import.sql</property>
        <mapping class="com.solo83.weatherapp.entity.User" />
        <mapping class="com.solo83.weatherapp.entity.Location" />
        <mapping class="com.solo83.weatherapp.entity.Session" />
    </session-factory>
</hibernate-configuration>