body {
    background-image: url("background.jpg");
    position: relative;
    background-size: cover;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    box-shadow: none;;
}

#login .container #login-row #login-column #login-box {
    margin-top:  80px;
    max-width: 600px;
    height: 320px;
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 5px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

.input-group-addon i {
    margin-left: -30px;
    cursor: pointer;
    z-index: 200;
    position: absolute;
    font-size: large;
    color: #6c757d;
}

